body {
    font-family: Arial, sans-serif;
    background-color: #FACE68;
    margin: 0;
    padding: 0;
}
.todoCard{
    border: 1px solid black;
    margin: 10px 20px;
    padding:0px 14px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
}
h3{
    font-size: 20px;
    
}
.todo-item-container{
   
    height: 600px;
    overflow-y: scroll;
}
.todo-add-container{
    position: fixed;
    bottom: 0;
    padding: 10px 20px;
    box-shadow: 0 -2px 5px black;
    width: 47%;
    background-color: #FF937E;
    display: flex;
    
}
.input-todo{
    width: 380px;
    font-size: 16px;
    padding: 5px 10px;
    margin-right: 10px;
}
.btn-todo{
     width: 100px;
     padding: 5px 10px;
     background-color: #3291B6;
     color: black;
     border-radius: 10px;
     cursor: pointer;
     color:white;
     font-weight: bolder;
     font-size: 15px;
}
.delete-img{
    height: 20px;
    width: 20px;
}
.edit-img{
    height: 20px;
    width: 20px;
    margin: 0px 20px;
}
.todo-item-container{
    border: 2px solid gray;
    width: 50%;
    justify-content: center;
    margin: auto;
    border-radius: 15px;
    background-color:#FA6868;
    height: 650px;
}
.title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 30px;
}
.sub-title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: black;
    font-size: 20px;
}